{% extends 'index.html' %}
{% block extra-css %}


    <link href="/static/css/signin.css" rel="stylesheet">

{% endblock %}


{% block body %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-login' method="post">
                {% csrf_token %}
                <h2 class="text-center">欢迎登录</h2>
                <div class="form-group">
                    {% for feild in register_form %}
                    <label>{{ feild.label }}:</label>
                    {{ feild }}
                    {% endfor %}
                    <span style="color: red">{{ err_msg }}</span>
                </div>

                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>

            </form>
        </div>
    </div> <!-- /container -->

{% endblock %}