{% extends 'index.html' %}

{% block right-content-container %}
          <h3 class="page-header">学员报名表</h3>

<table class="table table-striped table-hover">

                <thead>
                <tr>
                    <th>姓名</th>
                </tr>
                </thead>
                <tbody>
                {% for stu_enrollment_obj in stu_enrollment_list %}
                    <tr>
                        <td><a href="/kingadmin/crm/studentenrollment/{{ stu_enrollment_obj.id }}/change">{{ stu_enrollment_obj.customer }}</a></td>

{#                        <td>{{ stu_obj.classlist }}</td>#}

                    </tr>
                {% endfor %}
                </tbody>


            </table>





        {% endblock %}